<div class="container">
  <div class="login-page">
    <div class="form">
      <form [@formState]="state == 'register' ? 'show': 'hide'" [formGroup]="registerForm" (ngSubmit)="register()"
        class="register-form">
        <input type="text" placeholder="username" formControlName="regUsernameField" required/>
        <div *ngIf="submitted && myRegisterForm['regUsernameField'].errors"> <!--Error msg div for email field-->
          <div *ngIf="myRegisterForm['regUsernameField'].errors?.['required']" class="info validation-error">Email is required</div>
          <div *ngIf="myRegisterForm['regUsernameField'].errors?.['minlength']" class="info validation-error">Username must be at least 3 characters long</div>
      </div>
        <input type="password" placeholder="password" formControlName="regPasswordField" required/>
        <div *ngIf="submitted && myRegisterForm['regPasswordField'].errors"> <!--Error msg div for password field-->
          <div *ngIf="myRegisterForm['regPasswordField'].errors?.['required']" class="info validation-error">Password is required</div>
          <div *ngIf="myRegisterForm['regPasswordField'].errors?.['minlength']" class="info validation-error">Password must be at least 4 characters long</div>
          <div *ngIf="myRegisterForm['regPasswordField'].errors?.['maxlength']" class="info validation-error">Password can only be 10 characters long</div>
      </div>
        <input type="email" placeholder="email address" formControlName="regEmailField" required/>
        <div *ngIf="submitted && myRegisterForm['regEmailField'].errors"> <!--Error msg div for email field-->
          <div *ngIf="myRegisterForm['regEmailField'].errors?.['required']" class="info validation-error">Email is required</div>
          <div *ngIf="myRegisterForm['regEmailField'].errors?.['email']" class="info validation-error">Email must be a valid email address</div>
      </div>
        <button type="submit">create</button>
        <p class="message">Already registered? <a (click)="changeForm()" href="#">Sign In</a></p>
      </form>
      <form [@formState]="state == 'login' ? 'show': 'hide'" [formGroup]="loginForm" (ngSubmit)="login()"
        class="login-form">
        <input type="text" placeholder="email or username" formControlName="usernameField"/>
        <div *ngIf="submitted && myLoginForm['usernameField'].errors"> <!--Error msg div for email field-->
          <div *ngIf="myLoginForm['usernameField'].errors?.['required']" class="info validation-error">Email is required</div>
          <div *ngIf="myLoginForm['usernameField'].errors?.['email']" class="info validation-error">Email must be a valid email address</div>
      </div>
        <input type="password" placeholder="password" formControlName="passwordField" />
        <div *ngIf="submitted && myLoginForm['passwordField'].errors"> <!--Error msg div for password field-->
          <div *ngIf="myLoginForm['passwordField'].errors?.['required']" class="info validation-error">Password is required</div>
          <div *ngIf="myLoginForm['passwordField'].errors?.['minlength']" class="info validation-error">Password must be at least 4 characters long</div>
          <div *ngIf="myLoginForm['passwordField'].errors?.['maxlength']" class="info validation-error">Password can only be 10 characters long</div>
      </div>
        <button type="submit">login</button>
        <p class="message">Not registered? <a (click)="changeForm()" href="#">Create an account</a></p>
      </form>
    </div>
  </div>
  <app-loader class="loader-pos" *ngIf="isLoaderVisible"></app-loader>
</div>